{%- include snippets/get-locale-string.html key='REWARD_TEXT' -%}
{%- assign _reward_text = __return -%}
{%- include snippets/get-locale-string.html key='REWARD_WECHAT' -%}
{%- assign _reward_wechat = __return -%}
{%- include snippets/get-locale-string.html key='REWARD_ALIPAY' -%}
{%- assign _reward_alipay = __return -%}

<!-- <div class="reward_pay">
  <p class="reward_pay_text">{{ _reward_text }}</p>
  <table style="margin: auto">
    <thead><tr>
      <th>{{ _reward_wechat }}</th>
      <th>{{ _reward_alipay }}</th>
    </tr></thead>
    <tbody><tr>
      <td><img style="max-widht: 150px; max-height: 150px" src="https://raw.githubusercontent.com/cggos/cggos.github.io/master/assets/images/reward_wechat.png" alt="微信支付二维码" /></td>
      <td><img style="max-widht: 150px; max-height: 150px" src="https://raw.githubusercontent.com/cggos/cggos.github.io/master/assets/images/reward_alipay.jpg" alt="支付宝二维码" /></td>
    </tr></tbody>
  </table>
</div> -->

<!-- 畅言云评 打赏 代码1 -->
<div id="cyReward" role="cylabs" data-use="reward"></div>
<!-- 畅言云评 打赏 代码2 在 _includes/main/bottom/custom.html -->
